body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 10% 5%;
    background-color:rgb(78, 76, 76);
}

main {
    margin: 0 auto;
    max-width: 800px;
}

.alert {
    max-width: 200px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
}
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
@media only screen and (min-width:530px) {
    main {
        background-color: rgba(255,255,255, 0.4);
        border-radius: 3%;
        padding: 5em;
    }
    body {
        background-color: rgb(66, 61, 61);  
    }
}
